textarea:focus, textarea.form-control:focus, button.btn:focus, input:focus, input.form-control:focus, .form-control:focus, [contenteditable].form-control:focus {
    box-shadow: none !important;
}

.leftDiv {
    margin: 22px 5% 5% 5%;
}

.sen-notok{
 background: repeating-linear-gradient(
    to right,
    #FFFACD,
    #FFFACD 10px,
    #FFFACD 10px,
    #FFFACD 20px
    );
}

.sen-bad{
    background: repeating-linear-gradient(
        to right,
        #FFE4B5,
        #FFE4B5 10px,
        #FFE4B5 10px,
        #FFE4B5 20px
      );
}

.score-border-1{
    border-right: 2px double black;;
    border-right-style:dashed

}

#rightDiv {
    position: fixed;
    top: 56px;
    right: 0px;
    overflow: auto;
    overflow-x: hidden;
    background: #c4d3f6;
    color: black;
    height: 95%;
    padding: 5px 40px;
}

#search{
    overflow: auto;
}

.edit.badge {
    cursor: pointer;
}

:root {
    --a1-color: #ff8000;
    --a2-color: #00a0a0;
    --b1-color: #ff0000;
    --b2-color: #008040;
    --c1-color: #3060ff;
    --c2-color: #a030a0;
    --adj-color: #c2c7ff25;
    --adv-color: #dfbbf925;
}

.A1 {
    background-color: var(--a1-color);
    border-color: var(--a1-color);
}

.A2 {
    background-color: var(--a2-color);
    border-color: var(--a2-color);
}

.B1 {
    background-color: var(--b1-color);
    border-color: var(--b1-color);
}

.B2 {
    background-color: var(--b2-color);
    border-color: var(--b2-color);
}

.C1 {
    background-color: var(--c1-color);
    border-color: var(--c1-color);
}

.C2 {
    background-color: var(--c2-color);
    border-color: var(--c2-color);
}

  